<app-header />
<div class="container ">
    <div style="height: 400px;" class="row mt-5">
        <div class="col-lg-6 px-5 bg-success d-flex justify-content-center align-items-center"><img
                src="https://freepngimg.com/save/13494-food-png-clipart/522x304" alt=""></div>
        <div class="col-lg-6 px-4 d-flex flex-column justify-content-center">
            <h1>Welcome to CookPedia</h1>
            <p style="text-align: justify;">
                Discover 100+ recipes in your hand with the best recipe. Help you to find the easiest way to cook.
            </p>
        </div>
    </div>
    <div style="height: 400px;" class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
            <h1>About</h1>
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nostrum soluta doloremque, sint
                officia maxime in dicta odit molestiae illo odio inventore ut voluptates animi sunt! Iusto cum saepe id.
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
                <li>Fugiat necessitatibus laboriosam soluta asperiores</li>
                <li>praesentium explicabo ipsa, nisi adipisci distinctio doloribus recusandae </li>
                <li>eius illum harum nostrum delectus est repellat deserunt earum!</li>
            </ul>
            <button routerLink="/" style="width: fit-content;" class="btn btn-success">Know More About Us</button>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/046/822/681/small_2x/a-chef-in-uniform-holding-a-tray-of-food-isolated-on-a-transparent-background-png.png"
                alt="">
        </div>
    </div>
</div>
<app-footer />